@layer base {
  @font-face {
    font-family: 'SansSerif';
    font-style: normal;
    font-weight: 400;
    src: url("./Fonts/Serif.ttf") format('truetype');
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer components {
    .custom-main::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #F5F5DC; /* bg-slate-500 */
      opacity: .2;
      z-index: 10;
    }
  }

  
  .prev-button, .next-button{
    font-style: italic;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight:600;
    color:#0E1DBE;
    text-shadow: 1px 1px 2px #1CD6D9;
    margin-top: 0;
  }
  